body {
	font-family: Helvetica, Arial, sans-serif;
	background: #f2f2f2;
	color: #222;
}

h1 {
	font-variant: small-caps;
	font-size: 2.3em;
	font-family: Georgia, serif;
}

p, li {
	font-size: 12px;
	line-height: 18px;
}

ul {
	list-style-type: disc;
	margin-left: 16px;
}

a {
	color: #8c0000;
	text-decoration: none;
}

hr {
	background-color: #ccc;
	height: 1px;
	border: none;
	margin: 20px;
}

a:hover {
	color: #222;
}

.clear {
	clear: both;
}

.clear:before,
.clear:after {
	content: " ";
	clear: both;
	width: 100%;
	display: block;
}

#page-wrap {
	width: 600px;
	margin: 0 auto;
	background: white;
	border: 1px solid #aaa;
	padding: 15px;
}

.nicefade_container {
	position: relative;
	width: 600px;
	height: 220px;
}

.nicefade_container > * {
	width: 600px;
	height: 220px;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #676767;
	line-height: 220px;
	text-align: center;
	font-size: 2em;
}

#page-wrap p {
	margin: 15px 0;
}

#nicefade_wrapper {
	margin-top: 20px;
}

.nicefade_container li + li {
	display: none;
}

.nicefade_index-list {
	padding: 15px 0;
	margin-top: 15px;
}

.nicefade_index-list:after {
	content: " ";
	width: 100%;
	clear: both;
}

.nicefade_index-list li {
	float: left;
	margin-right: 10px;
}

.nicefade_index-list a {
	display: block;
	padding: 5px 10px;
	color: #222;
	font-weight: bold;
	text-decoration: none;
}

.nicefade_index-list .current a {
	background: #222;
	color: white;
}

#nicefade_wrapper {
	width: 638px;
	margin: 0 auto;
}

#nicefade_wrapper ul {
	margin: 0;
	list-style:none;
}

.buttons {
	margin: 10px auto;
}